

#contenedor_botones{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
html, body{
    height: 100%;
    width: 100%;
}

#contenido{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    background:aquamarine;
}

#contenido p{
    width: 51%;
    word-wrap: break-word;
}


#contenido_segundaPag{
    height: 100%;
    background: blueviolet;
}
#contenido_terceraPag{
    height: 100%;
    background: antiquewhite;
}
#contenido_cuartaPag{
    height: 100%;
    background: olive;
}